div.page-header {
	margin-top: 0px;
}
div.page-header div.pull-right.form-inline {
	margin: 15px 0px;
}
#termYear {
  width: 100px;
}
#selectTerm {
  margin-left:10px;

}
table.table th,
table.table td {
	vertical-align: middle  !important;
}
th.td_N {
	width: 50px;
}
th.td_name {
	width: 20%;
}
th.td_id {
	width: 20%;
}
th.td_att {
	width: 50px;
}
th.td_mid {
	width: 100px;
}
th.td_fin {
	width: 100px;
}
th.td_email {
}
table.table select {
	padding: 0px 6px;
	height: 25px;
}
table.table tbody td label {
	margin: 0px;
}
table.table tbody td div {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
}
table.table tbody td div {
	padding: 0px 15px;
}
table.table tbody td div input {
	margin: 0px;
	margin-top: 5px;
}
table.table thead th.td_att {
	padding-top: 0px;
	padding-bottom: 0px;
}
table.table thead th.td_att input {
	margin-top: 2px;
}
table.table td.noData {
	padding: 5px 20px;
	font-weight: bold;
}


